:root{
    --border-bottom-color:rgb(241, 242, 243);
    --bg-color:#f6f9fc;
    --color-red: #fe3464;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a, a:active, a:focus, a:link {
    color: black;
}
body{
    max-width: 90rem;
    min-height: 98rem;
    margin: 0 auto;
    padding: 0 50px;
}
header{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-bottom-color);
}
.container{
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px 10px;
    background-color: var(--bg-color);
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-left, .header-right{
    width: 50%;
}
.cart_icon, .user_icon{
    margin-left: 20px;
    font-size: 20px;
}
.logo, .search_box{
    margin-right: 20px
}
.search_box form{
    width: 300px;
    padding: 10px;
    border-radius: 20px;
}
.border--grey{
    border: 1px solid var(--border-bottom-color);
    background-color: var(--bg-color);
}
.search_box form input, .search_box form input:focus{
    border: none;
    background-color: transparent;
    border-style: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

/* **section product */
.img--fit{
    max-width: 100%;
    max-height: 100%;
}
.product__info{
    justify-content: space-between;
}
.slider-for{
    border-bottom: 1px solid var(--border-bottom-color);
}
.product__left{
    /* width: 50%; */
    padding: 20px;
    max-width: 500px;
    
    border: 1px solid violet;
    border-radius: 20px;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1;
    z-index: 5;
    transition: all 0.2s linear;
    border-radius: 50%;
    opacity: 0.6;
  }
  .slick-arrow:hover {
    opacity: 1;
    
  }
  .slick-prev {
    left: -10%;
  }
  .slick-next {
    right: -10%;
  }
.product__right{
    width: 50%;
    padding: 0 20px 0 20%;
}
.product__top, .product__bottom{
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
}
.product__top{
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
}
.product__top div{
    width: 50%;
    margin-bottom: 10px;
}
.product__top div h4, .product__bottom h3{
    margin: 0;
}

.product__bottom{
    justify-content: space-between;
}
#addItem-btn{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #fff;
    font-size: 18px;
}
.bg--red{
    border: 1px solid;
    border-radius: 20px;
    background-color: #fe3464;
    padding:10px;
}
.text--red{
    color: var(--color-red);
}
.text--white{
    color: #fff;
}
.col{
    display: flex;
    flex-direction: column;
}
.bg--white{
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid gray;
}