{% extends 'webApp/base.html' %}
{% block content %}
{% load static %}
    <!-- *!insert number of items -->
    <h3>Giỏi hàng (2)</h3>
    <div class="container row cart--container">
        
        <div class="list-item">
            {% comment %} *todo: load all items in cart and render here {% endcomment %}
            <div class="item row bg--white">
                <div class="item__img item__left item-img--small"><img class="img--fit" src="../img/product00_1.png" alt="" class="img--fit"></div>
                <div class="item__right">
                    <div class="item__top row row--spacebetween">
                        <p class="item__name col">MACBOOK PRO 2022
                            <span class="item__description text--small text--grey">Black, Full box</span>
                        </p>
                        
                        <h4 class="item_price text--red">8.190.000</h4>
                    </div>
                    <div class="item__bottm row row--spacebetween">
                        <div class="item__number ">
                            <button class="border--grey" onclick="decrement()"><i class="fa-solid fa-minus"></i></button>
                            <input type="number" inputmode="decimal" name="item-number" id="item-number" min="1" max="100" placeholder="1" style="text-align: center;">
                            <button class="border--grey" onclick="increment()"><i class="fa-solid fa-plus"></i></button>
                        </div>
                        <div class="btn-del-item">
                            <!-- *!insert lap_id -->
                            <span class="text--small">Delete</span>
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="item row bg--white">
                <div class="item__img item__left item-img--small"><img class="img--fit" src="../img/product00_1.png" alt="" class="img--fit"></div>
                <div class="item__right">
                    <div class="item__top row row--spacebetween">
                        <p class="item__name col">MACBOOK PRO 2022
                            <span class="item__description text--small text--grey">Black, Full box</span>
                        </p>
                        
                        <h4 class="item_price text--red">8.190.000</h4>
                    </div>
                    <div class="item__bottm row row--spacebetween">
                        <div class="item__number ">
                            <button class="border--grey" onclick="decrement()"><i class="fa-solid fa-minus"></i></button>
                            <input type="number" inputmode="decimal" name="item-number" id="item-number" min="1" max="100" placeholder="1" style="text-align: center;">
                            <button class="border--grey" onclick="increment()"><i class="fa-solid fa-plus"></i></button>
                        </div>
                        <div class="btn-del-item">
                            <!-- *!insert lap_id -->
                            <span class="text--small">Delete</span>
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="bill bg--white">
            <h4>Tóm tắt đơn hàng</h4>
            <div class="bill__top">
                <p class="row row--spacebetween">TỔNG TIỀN: <span class="text--red">1000$</span></p>
            </div>
            <div class="bill__bottom">
                <button type="submit" style="width:100%" class="bg--red text--white border--white">ĐẶT HÀNG</button>
            </div>
        </div>
    </div>
{% endblock %}